$primary-color: #6200ee;

.footer {
    position: absolute;
    left: 0;
    width: -webkit-fill-available;
    margin: 0 8px 8px 8px;


    background-color: $primary-color;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}